{% if content %}
  <div {{ attributes.addClass('two-col') }}>
  {% if content.main %}
    <div {{ region_attributes.main.addClass('main-region') }}>
      {{ content.main }}
    </div>
  {% endif %}
  {% if content.sidebar %}
    <div {{ region_attributes.sidebar.addClass('sidebar-region') }}>
      {{ content.sidebar }}
    </div>
  {% endif %}
  </div>
{% endif %}